<!DOCTYPE html>
<html>
    <head>
        {% include '::header.html.twig' %}
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toogle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="/">Inmobiliaria Priego</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="/">Inicio</a></li>
                            <li><a href="#">Buscador</a></li>
                            <li><a href="#">Contacto</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
        
        <div class="container">
            {% block body %}{% endblock %}
            <hr>
            <footer>
                <h6>2015 © Inmobiliaria Priego. | Contacto: {{ contact_email }}</h6>
            </footer>
        </div> <!-- /container -->
                
        {% block javascripts %}
            {% javascripts '@InmobiliariaPriegoWebBundle/Resources/public/plugins/bootstrap/js/*' output='js/compiled/main.js' %}
                <script src="{{ asset_url }}" type="text/javascript"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
