<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{% block title %}Inmobiliaria Priego{% endblock %}</title>

<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

{% block stlylesheets %}
    <!-- Bootstrap -->
    <link href="{{ asset('bundles/inmobiliariapriegoweb/plugins/bootstrap/css/bootstrap.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/inmobiliariapriegoweb/plugins/bootstrap/css/bootstrap-responsive.css') }}" type="text/css" rel="stylesheet" />
    
{% endblock %}
