/* Estilos CSS */

/********************************
 *	 Reglas de la pagina		*
 ********************************/

@charse "utf-8";
@font-face{
	font-family:urban;
	src: url('urban.otf');
}
 
/********************************
 *	Estructura de la pagina		*
 ********************************/

body{
	background:#DFDFDF;
}

#contenido{
	width:80%;
	margin:auto;
	padding-left:15px;
	padding-right:15px;
	background:white;
	border-radius:4px;
	box-shadow:0px 0px 30px grey;
	-webkit-box-shadow:0px 0px 30px grey;
	-moz-box-shadow:0px 0px 30px grey;
	-ms-box-shadow:0px 0px 30px grey;
	-o-box-shadow:0px 0px 30px grey;	
}

nav{
	padding-top:5px;
	margin: 0 auto;
}


header{
	width:100%;
}

section{
	width:100%;
}

footer{
	width:100%;
	text-align:center;
}

footer h6{
	padding:10px;
	color:#08088A;
}

/********************************
 *	Contenido de la pagina		*
 ********************************/
 
a{
	text-decoration:none;
	color:white;
	padding:5px;
	display:block;
}
 
ul{
	border-radius:4px;
	padding-top:5px;
	padding-bottom:5px;
	text-align:center;
}

/* Color de fondo del menú principal de esta forma el menú de la ficha
	de edición de inmuebles queda sin color de fondo */
#menu ul{
	background:#08088A;
} 

li{
	list-style-type:none;
	background-color:#585858;
	width:130px;
	margin:5px;
	display:inline-block;
	border-radius:4px;
	box-shadow:4px 4px 4px grey;
	-webkit-box-shadow:4px 4px 4px grey;
	-moz-box-shadow:4px 4px 4px grey;
	-ms-box-shadow:4px 4px 4px grey;
	-o-box-shadow:4px 4px 4px grey;
}

input{
	border-radius:3px;
	box-shadow:0px 0px 10px rgba(0,0,0,0.1) inset;
	-webkit-box-shadow:0px 0px 10px rgba(0,0,0,0.1) inset;
	-moz-box-shadow:0px 0px 10px rgba(0,0,0,0.1) inset;
	-ms-box-shadow:0px 0px 10px rgba(0,0,0,0.1) inset;
	-o-box-shadow:0px 0px 10px rgba(0,0,0,0.1) inset;
}

textarea{
	border-radius:3px;
	box-shadow:0px 0px 10px rgba(0,0,0,0.6) inset;
	-webkit-box-shadow:0px 0px 10px rgba(0,0,0,0.6) inset;
	-moz-box-shadow:0px 0px 10px rgba(0,0,0,0.6) inset;
	-ms-box-shadow:0px 0px 10px rgba(0,0,0,0.6) inset;
	-o-box-shadow:0px 0px 10px rgba(0,0,0,0.6) inset;
}

select{
	width:200px;
}

#logo{
	float:left;
	padding-top:5px;
}

#titulo{
	font-family:urban;
	font-size:40px;
	text-align:left;
	margin-top:50px;
	margin-left:40px;
	width:50%;
	float:left;
}

#bodySection{
	min-height:360px;
}

.formUser{
	float:right;
	margin-top:25px;
	text-align:right;
}

/* Este es el div que contiene los elementos del body de la pagina
	en dos columnas <article> */
.doscolumnas{
	width:48%;
	border:0px solid black;
	float:left;
	margin:5px;
}

/* Propiedades para las tablas que se muestran en la edición de inmuebles */
.tablaEdicion{
	width:100%;
	border-spacing:10px;
}


/* Estas son las propiedades de la tabla donde se presentan los inmuebles
	en la sección Destacados del inicio */
/***********************************************/
.destacado{
	border-collapse:collapse;
	width:98%;
}

.imgdestacado{
	width:20px;
	vertical-align:middle;
}

.literalesdestacado{
	width:20px;
	padding-left:10px;
	border-bottom:1px solid grey;
}

.descripcion{
	padding-left:10px;
	border-bottom:1px solid grey;
}
/************************************************/

.submit{
	width:100px;
	border:1px solid grey;
}

.formulario{
	text-align:right;
}

.formulario input{
	margin:5px;
}

.labelTextarea{
	vertical-align:top;
}

/********************************
	Div para mostrar mensajes
*********************************/
#mensajeConfirmacion{
	position:absolute;
	border:0px solid grey;
	display:none;
	width:40%;
	margin-left:20%;
	text-align:center;
	border-radius:3px;
	box-shadow:0px 0px 10px rgba(0,0,0,0.6) inset;
	-webkit-box-shadow:0px 0px 10px rgba(0,0,0,0.6) inset;
	-moz-box-shadow:0px 0px 10px rgba(0,0,0,0.6) inset;
	-ms-box-shadow:0px 0px 10px rgba(0,0,0,0.6) inset;
	-o-box-shadow:0px 0px 10px rgba(0,0,0,0.6) inset;
}

#mensajeConfirmacion.ok{
	color:#0B610B;
	background:#81F781;
}
#mensajeConfirmacion.error{
	color:#B40404;
	background:#F5A9A9;
}

/********************************
	Buscador de Inmuebles
*********************************/
#buscador{
	width:60%;
	margin:0 auto;
}

#tablaBuscador{
	width:100%;
	border-spacing:8px;
}
#tablaBuscador .literal{
	width:30%;
}

/* Tabla de resultados de la busqueda */
#resultado_busqueda{
	width:100%;
	text-align:center;
	border-collapse:collapse;
}

#resultado_busqueda .img{
	width:15%;
}

#resultado_busqueda th{
	border-bottom:1px solid black;
}

#resultado_busqueda td{
	border-bottom:1px solid grey;
}

/* Ficha flotante del inmueble tanto para 
	consultas como para edición y altas*/

.fondoOpaco
{
	display:none;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:#fff;
	opacity: .5;
}

#fichaInmueble{
	display:none;
	background:white;
	position: fixed;
	left:25%;
	top:15%;
	width:50%;
	min-height:50%;
    z-index: 1001;
	border-radius:3px;
	border:0px groove rgb(8,8,138);
	box-shadow:0px 0px 20px rgba(8,8,138,0.8);
	-webkit-box-shadow:0px 0px 20px rgba(8,8,138,0.8);
	-moz-box-shadow:0px 0px 20px rgba(8,8,138,0.8);
	-ms-box-shadow:0px 0px 20px rgba(8,8,138,0.8);
	-o-box-shadow:0px 0px 20px rgba(8,8,138,0.8);
}

#fichaInmueble .tabHeader{
	padding-left:10px;
}

#fichaInmueble .tabHeader h3{
	float:left;
}

#fichaInmueble .tabHeader a{
	float:right;
}

#fichaInmueble .tabBody{
	padding-left:10px;
}